.red-border {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.red-border-solid {
    padding: 10px 10px 10px 10px;
    background-color: red;
}

.example-overflow {
    border-style: solid; 
    border-width: 2px;
    width: 200px;
    height: 75px;
    /* DEFAULT = visible */
    overflow: hidden;
}