body {
    counter-reset: h2counter 0 h3counter 1 h4counter 1
}

section {
  counter-increment: h2counter;  
}

h1, h2, h3, h4 {
  font-family: zillaslab,palatino,"Palatino Linotype",serif;
}

h2::before {                 
  content: counter(h2counter) " ";  
  counter-reset: h3counter 1;  
}

h3::before {
  content: counter(h2counter) "." counter(h3counter)  " ";    
  counter-increment: h3counter;  
  counter-reset: h4counter 1;                   
}

h4::before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter)  " ";    
  counter-increment: h4counter;                   
}