/* CSS (e JS) sono incrementali, quindi posso includere più di uno */

/* 
h2 {
    background-color: rgb(181, 228, 87);
}

h3 {
  border-bottom: 2px solid currentColor;
  line-height: 0.85;
}
 */

/*  ESEMPIO TOC SIDEBAR */
.sidebar-right {
    margin-bottom: 1em;
    position: sticky;
    float: right;
    top: 0;
    right: 0;
    width: 10vw;
    padding-left: 1em;
    z-index: 10;
    background-color:whitesmoke;
    border: rgb(233, 226, 233);
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
}

aside.sidebar-right > nav > ol {
    padding-inline-start: 10px;
}